/* css styles */

/* font for website --------------------------------------------- */
body {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}

/* custom about me button ----------------------------------------- */
.custom-btn {
  background-color: #6c99b8;  /* Change button background color */
  color: white;               /* Change button text color */
  border: 2px solid #6c99b8;   /* Change button border color */
}

.custom-btn:hover {
  background-color: white;  /* Button color on hover */
  color: #6c99b8;               /* Text color on hover */
}

/* Change the hover color of buttons -----------------------------*/
.btn:hover {
    background-color: white !important; /* Replace with your desired hover color */
    border-color: #6c99b8 !important;     /* Optionally, change the border color */
}

/* center navbar text -------------------------------------------- */
.navbar {
  justify-content: center; /* Center the navbar items */
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center; /* Center the items in the navbar */
  width: 100%; /* Ensure full width for centering */
}

.navbar .navbar-nav .nav-link {
  margin: 0 15px; /* Adjust the spacing between links */
}

.navbar {
    border: none !important; /* Remove border */
    box-shadow: none !important; /* Remove shadow */
}

/* Change the background color of the header ------------------------------------------- */
.navbar {
    background-color: #fafbfb !important; /* Replace with your desired color */
}


html {
  background-color: #d6dbe1; /* Change this to your desired background color */
}


body {
  background-color: #fafbfb;  /* Color for the visible content area */
}
